<div ng-controller="EditQuestionController">
  <form name="questionnaire" novalidate>
    <h3>
      Update Questionaire
      <!--<font ng-if="questionForm.name" ng-bind-template="- {{questionForm.name}}"></font>-->
    </h3>

    <div ng-if="!isLoading && isValid">
      <div ng-if="errorMessage" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{errorMessage}}
      </div>

      <fieldset ng-disabled="formDisabled">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                Overview
              </div>
              <div class="panel-body">
                <questions-overview form="questionForm"></question-overview>
              </div>
            </div>
            <questions-list question-form="questionForm"
              questions="questionForm.questions"
              languages="questionForm.languages"
              question-validator="questionnaire">
            </questions-list>
          </div>
          <div class="col-md-8">
            <ng-form name="questions">
              <div ng-repeat="(key, question) in questionForm.questions.list">
                <ng-form name="question{{question.properties.countId}}">
                  <question-properties
                    ng-show="questionForm.questions.isSelectedItem(question.getItem())"
                    languages="questionForm.languages"
                    item="question"
                    list="questionForm.questions.list"
                    questions="questionForm.questions">
                  </question-properties>
                </ng-form>
              </div>
            </ng-form>
            <center>
              <button class="btn btn-success"
                ng-click="save(questionnaire)"
                ng-disabled="isFormDisabled()"
                scroll-on-click>
                Update
              </button>
              <a href="#/questionnaire" class="btn btn-default">Cancel</a>
            </center>
          </div>
        </div>
      </fieldset>
    </div>

    <div ng-if="!isLoading && !isValid">
      Questionnaire not found!
    </div>

    <div ng-if="isLoading">
      Loading questionnaire.. Please wait.
    </div>
  </form>
</div>
