<div class="modal-header dialog-header">
  <button type="button" class="close" ng-click="cancel()">x</button>
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-th-list"></span>
    Route Values
  </h4>
</div>
<div class="modal-body">
  <div class="row" style="max-height: 500px; overflow: scroll;">
    <div class="col-sm-3" ng-repeat="(key, answer) in dropdownList | orderBy:'id'">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="answer.selected"> {{answer.name}}
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="update()">Update</button>
  <button class="btn btn-warning" ng-click="selectAll()">
    <span ng-if="allSelected">Unselect All</span>
    <span ng-if="!allSelected">Select All</span>
  </button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
